@media only screen and (max-width: 375px) {
  p {
    font-size: 14px;
    line-height: 24px;
  }
  .checkbox label,
  .checkbox label a {
    font-size: 14px;
  }
}

@media only screen and (max-width: 479px) {
  .author-info-wrap .author-info {
    margin-left: 10px;
  }
  .author-info-wrap .author-info .post-metainfo li {
    font-size: 13px;
    padding: 0 5px;
  }
  .wp-block-quote p {
    font-size: 14px;
    max-width: 100%;
  }
  .wp-block-quote i {
    font-size: 30px;
    opacity: 0.2;
  }
  .content-feature-list li {
    font-size: 14px;
    margin: 0 0 10px;
  }
  .comment-item .comment-author-wrap .comment-author-name .comment-date {
    display: block;
    width: 100%;
    margin-top: 10px;
    margin-left: 0;
  }
  /*-------Contact CSS--------*/
  .contact-box {
    padding: 20px;
  }
  .contact-box .contact-icon {
    width: 65px;
    height: 65px;
  }
  .contact-box .contact-info {
    width: calc(100% - 80px);
  }
  /*----Why Choose Css-----*/
  .why-choose-wrap.style2 .wh-content .wh-item-wrap .wh-item .wh-icon {
    width: 60px;
    height: 60px;
  }
  .why-choose-wrap.style2 .wh-content .wh-item-wrap .wh-item {
    padding: 20px 30px 20px 35px;
    margin-left: 37px;
  }
  .why-choose-wrap.style2 .wh-img {
    height: 430px;
  }
}

@media only screen and (max-width: 767px) {
  .sm-none {
    display: none !important;
  }
  .sm-center {
    text-align: center !important;
  }
  .smt-20 {
    margin-top: 20px;
  }
  .smb-70 {
    margin-bottom: 50px !important;
  }
  .pt-100 {
    padding-top: 50px;
  }
  .pb-50 {
    padding-bottom: 0px;
  }
  .pb-60 {
    padding-bottom: 15px;
  }
  .pb-100 {
    padding-bottom: 50px;
  }
  .mt-100 {
    margin-top: 50px !important;
  }
  .ptb-100 {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .pt-70 {
    padding-top: 20px;
  }
  .pb-70 {
    padding-bottom: 20px;
  }
  .pb-75 {
    padding-bottom: 25px;
  }
  .pb-50 {
    padding-bottom: 0px;
  }
  .pt-75 {
    padding-top: 25px;
  }
  .mb-40 {
    margin-bottom: 25px !important;
  }
  /*------Hero   CSS---*/
  .hero-wrap.style1 .hero-content-wrap {
    padding-left: 0;
    padding-right: 0;
    max-width: 100%;
  }
  .hero-wrap.style1 .hero-img-wrap .hero-chart-box-1 {
    position: absolute;
    top: 230px;
    padding: 20px 20px;
  }
  .hero-wrap.style1 .hero-img-wrap .hero-chart-box-1 img {
    max-width: 80px;
    display: block;
    margin: 0 auto;
  }
  .hero-wrap.style1 .hero-img-wrap .hero-client-box {
    top: 0;
    max-width: 170px;
    padding: 20px 30px 15px;
  }
  .hero-wrap.style1 .hero-img-wrap .hero-chart-box-2 {
    bottom: 50px;
    left: 0;
    padding: 20px 15px;
  }
  .hero-wrap.style1 .hero-img-wrap .hero-chart-box-2 .hero-chart img {
    max-width: 70px;
  }
  .hero-wrap.style1 .hero-img-wrap .hero-chart-box-2 .hero-chart-info span {
    font-size: 22px;
  }
  .hero-wrap .hero-content h1 {
    font-size: 43px;
  }
  .hero-wrap .hero-content p {
    padding-right: 10px;
  }
  .hero-wrap.style2 {
    padding-top: 130px;
    padding-bottom: 100px;
  }
  .hero-wrap.style2 .hero-content-wrap {
    padding-left: 15px;
    padding-right: 15px;
  }
  .hero-wrap.style2 .hero-content-wrap .hero-img {
    margin-bottom: -100px;
    margin-left: 0;
    margin-top: 50px;
  }
  /*------About Section  CSS---*/
  .about-wrap.style1 .about-img-wrap .about-img-one .about-img-text p,
  .about-wrap.style3 .about-img-wrap .about-img-one .about-img-text p,
  .about-wrap.style1 .about-img-wrap .about-img-two .about-img-text p,
  .about-wrap.style3 .about-img-wrap .about-img-two .about-img-text p {
    font-size: 16px;
    display: block;
    padding: 10px 10px;
    text-align: center;
  }
  .about-wrap.style1 .about-img-wrap .about-img-two .about-img {
    height: 320px;
  }
  .about-wrap.style1 .about-img-wrap .about-img-one .about-img {
    height: 420px;
  }
  .about-wrap.style2 .about-content-wrap .about-bg {
    height: 366px;
  }
  .about-wrap.style2 .about-content-wrap .about-content {
    width: 100%;
    max-width: 100%;
    padding: 50px 15px;
  }
  /*------Service Section  CSS---*/
  .service-wrap.style1 .service-slider-wrap {
    padding-bottom: 60px;
  }
  .service-slider-wrap .service-next {
    right: calc(50% - 50px);
    top: auto;
    bottom: 0;
  }
  .service-slider-wrap .service-prev {
    left: calc(50% - 50px);
    top: auto;
    bottom: 0;
  }
  .service-wrap.style3 .slider-btn-wrap {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    margin: 30px 0 0;
  }
  /*------Why Choose  CSS---*/
  .why-choose-wrap.style1 .wh-img-wrap .wh-img-one .wh-img-text p,
  .why-choose-wrap.style1 .wh-img-wrap .wh-img-two .wh-img-text p {
    display: block;
    font-size: 18px;
    text-align: center;
    padding: 15px 10px;
  }
  .why-choose-wrap.style1 .wh-img-wrap .wh-img-one .wh-img {
    height: 320px;
  }
  .why-choose-wrap.style1 .wh-img-wrap .wh-img-two .wh-img {
    height: 380px;
    border-radius: 20px;
  }
  h2.transparent-text span {
    font-size: 34px;
  }
  .why-choose-wrap.style2 h2.transparent-text,
  .why-choose-wrap.style3 h2.transparent-text {
    font-size: 30px;
  }
  .why-choose-wrap.style2 .wh-content .content-title {
    padding-right: 0;
  }
  .why-choose-wrap.style2 .wh-content .wh-item-wrap {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  /*-----Blog CSS-----*/
  .blog-slider-wrap {
    padding-bottom: 20px;
  }
  .blog-slider-wrap .service-next,
  .blog-slider-wrap .blog-next {
    right: calc(50% - 50px);
    top: auto;
    bottom: 32px;
  }
  .blog-slider-wrap .blog-prev,
  .blog-slider-wrap .blog-prev {
    left: calc(50% - 50px);
    top: auto;
    bottom: 32px;
  }
  .pp-post-item .pp-post-img {
    width: 75px;
  }
  .pp-post-item .pp-post-info {
    width: calc(100% - 85px);
    margin-left: 10px;
  }
  .post-share {
    margin-top: 15px;
  }
  .comment-item .comment-author-img {
    width: 50px;
    height: 50px;
  }
  .comment-item .comment-author-wrap {
    width: calc(100% - 65px);
    margin-left: 15px;
  }
  .post-author {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .post-author .post-author-img {
    width: 150px;
    height: 150px;
  }
  .post-author .post-author-info {
    width: 100%;
    margin-left: 0;
    margin-top: 15px;
  }
  .error-content span {
    font-size: 70px;
    margin: 0 0 20px;
    color: #000;
  }
  .accordion-item .accordion-header .accordion-button {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .accordion-item .accordion-header .accordion-button span {
    min-width: 50px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .header-wrap .search-area {
    max-width: 517px !important;
  }
  .content-title h2,
  .section-title h2 {
    font-size: 30px;
  }
  .section-title span,
  .content-title span {
    font-size: 14px;
  }
  .hero-wrap.style1 .hero-content-wrap,
  .hero-wrap.style2 .hero-content-wrap {
    max-width: 540px;
    margin: 0 auto;
  }
  .hero-wrap.style1 .hero-img-wrap .hero-chart-box-1 {
    top: 50px;
  }
  .hero-wrap.style1 .hero-img-wrap .hero-client-box {
    top: 50px;
  }
  /*------Foooter CSS---*/
  .footer-widget-wrap .footer-widget:nth-child(1) {
    padding-right: 0;
  }
  .footer-widget-wrap .footer-widget:nth-child(1),
  .footer-widget-wrap .footer-widget:nth-child(2),
  .footer-widget-wrap .footer-widget:nth-child(3),
  .footer-widget-wrap .footer-widget:nth-child(4) {
    width: 50%;
  }
  .newsletter-box .newsletter-form .form-group {
    width: 95%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .header-wrap .search-area {
    max-width: 697px !important;
  }
  .pt-100 {
    padding-top: 70px;
  }
  .pb-100 {
    padding-bottom: 70px;
  }
  .pb-50 {
    padding-bottom: 20px;
  }
  .pb-60 {
    padding-bottom: 35px;
  }
  .mt-100 {
    margin-top: 70px !important;
  }
  .smb-25 {
    margin-bottom: 25px;
  }
  .smb-70 {
    margin-bottom: 70px !important;
  }
  .ptb-100 {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .pt-70 {
    padding-top: 40px;
  }
  .pb-70 {
    padding-bottom: 40px;
  }
  .pb-75 {
    padding-bottom: 45px;
  }
  .pb-50 {
    padding-bottom: 20px;
  }
  .pt-75 {
    padding-top: 45px;
  }
  .hero-wrap.style1 .hero-content-wrap,
  .hero-wrap.style2 .hero-content-wrap {
    padding-left: 0;
    padding-right: 0;
    max-width: 720px;
    margin: 0 auto;
  }
  .hero-wrap.style1 .hero-img-wrap .hero-chart-box-1 {
    position: absolute;
    top: 0;
    padding: 15px 20px;
  }
  .hero-wrap.style1 .hero-content-wrap .hero-content {
    margin-bottom: 50px;
  }
  .hero-wrap.style1 .hero-img-wrap .hero-chart-box-1 img {
    max-width: 80px;
    display: block;
    margin: 0 auto;
  }
  .hero-wrap.style1 .hero-img-wrap .hero-client-box {
    top: 0;
  }
  .hero-wrap.style1 .hero-img-wrap .hero-chart-box-2 {
    bottom: 50px;
    left: 0;
    padding: 15px 15px;
  }
  .hero-wrap.style1 .hero-img-wrap .hero-chart-box-2 .hero-chart img {
    max-width: 70px;
  }
  .hero-wrap.style1 .hero-img-wrap .hero-chart-box-2 .hero-chart-info span {
    font-size: 22px;
  }
  .hero-wrap .hero-content h1 {
    font-size: 43px;
  }
  .hero-wrap .hero-content p {
    padding-right: 10px;
  }
  .about-wrap.style2 .about-content-wrap .about-content {
    width: 720px;
    margin: 0 auto 0 auto !important;
    max-width: 720px;
    padding: 50px 0;
  }
  .hero-wrap.style2 {
    padding-top: 130px;
    padding-bottom: 100px;
  }
  .hero-wrap.style2 .hero-content-wrap .hero-img {
    margin-bottom: -100px;
    margin-left: 0;
    margin-top: 50px;
  }
  /*------Blog CSS---*/
  .about-wrap.style1 .about-content-wrap {
    padding-right: calc((100% - 960px) / 2 + 15px);
  }
  /*------Blog CSS---*/
  .blog-card.style1 .blog-info {
    bottom: 70px;
  }
  .service-slider-wrap .service-next,
  .blog-slider-wrap .blog-next {
    right: 10px;
  }
  .service-slider-wrap .service-prev,
  .blog-slider-wrap .blog-prev {
    left: 10px;
  }
  .blog-card .blog-info {
    padding: 18px;
  }
  .blog-metainfo li {
    padding: 0 15px 0 18px;
    font-size: 13px;
  }
  /*------Foooter CSS---*/
  .footer-widget-wrap .footer-widget:nth-child(1) {
    padding-right: 0;
  }
  .footer-widget-wrap .footer-widget:nth-child(1),
  .footer-widget-wrap .footer-widget:nth-child(2),
  .footer-widget-wrap .footer-widget:nth-child(3),
  .footer-widget-wrap .footer-widget:nth-child(4) {
    width: 50%;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1280px) {
  .hero-wrap.style3 .hero-slide-next {
    right: auto;
    left: 50%;
    top: auto;
    bottom: 35px;
  }
  .hero-wrap.style3 .hero-slide-prev {
    left: calc(50% - 80px);
    top: auto;
    bottom: 35px;
  }
  .hero-wrap.style3 .hero-slider-item .hero-img .hero-slider-shape {
    max-width: 83%;
  }
}

@media only screen and (min-width: 1200px) {
  .xl-none {
    display: none !important;
  }
  .hero-wrap.style1 .hero-content-wrap,
  .hero-wrap.style2 .hero-content-wrap {
    padding-left: calc((100% - 1140px) / 2 + 15px);
  }
  .about-wrap.style2 .about-content-wrap {
    padding-right: calc((100% - 1140px) / 2 + 15px);
  }
}

@media only screen and (min-width: 1400px) {
  .hero-wrap.style1 .hero-content-wrap,
  .hero-wrap.style2 .hero-content-wrap {
    padding-left: calc((100% - 1320px) / 2 + 15px);
  }
  .about-wrap.style2 .about-content-wrap {
    padding-right: calc((100% - 1320px) / 2 + 15px);
  }
  .header-wrap .search-area {
    max-width: 1297px;
  }
}

@media only screen and (min-width: 1920px) {
  .hero-wrap.style1 .hero-content-wrap,
  .hero-wrap.style2 .hero-content-wrap {
    max-width: 2200px;
  }
}

@media only screen and (min-width: 1920px) {
  .hero-wrap .hero-content h1 {
    font-size: 60px;
  }
  .hero-wrap.style1 .hero-img-wrap .hero-client-box {
    right: 30px;
  }
  .hero-wrap.style1 .hero-content-wrap,
  .hero-wrap.style2 .hero-content-wrap {
    padding-left: calc((100% - 1320px) / 2 + 15px);
  }
  .hero-wrap.style2 .hero-content-wrap .hero-img .hero-shape-5 {
    top: 5%;
  }
  .hero-wrap.style2 .hero-content-wrap .hero-img .hero-shape-6 {
    left: -110px;
  }
  .about-wrap.style2 .about-content-wrap {
    padding-right: calc((100% - 1550px) / 2 + 15px);
  }
  .service-slider-wrap .service-prev,
  .service-slider-wrap .blog-prev,
  .blog-slider-wrap .service-prev,
  .blog-slider-wrap .blog-prev {
    left: 100px;
  }
  .service-slider-wrap .service-next,
  .service-slider-wrap .blog-next,
  .blog-slider-wrap .service-next,
  .blog-slider-wrap .blog-next {
    right: 100px;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1439px) {
  .container {
    max-width: 1170px;
  }
  .header-wrap .search-area {
    max-width: 1147px !important;
  }
}

@media only screen and (min-width: 1400px) and (max-width: 1500px) {
  .main-menu-wrap #menu ul li a {
    font-size: 14px;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .xl-none {
    display: none !important;
  }
  .service-bg {
    height: 391px;
  }
  .hero-wrap.style2 .hero-content-wrap .hero-img {
    margin-bottom: -220px;
  }
  /*-----Why Choose Us CSS------*/
  .why-choose-wrap.style1 .wh-img-wrap .wh-img-two .wh-img {
    height: 601px;
  }
  .why-choose-wrap.style2 .wh-img {
    position: relative;
    height: 845px;
  }
  .why-choose-wrap.style3 .wh-img {
    height: 634px;
  }
  .about-wrap.style3 .about-img-wrap .about-img-two .about-img-text p {
    padding: 20px 20px;
    display: block;
    font-size: 24px;
  }
  .about-wrap.style3 .about-img-wrap .about-img-one .about-img {
    height: 560px;
  }
  /*-----Blog CSS------*/
  .service-slider-wrap .service-next,
  .service-slider-wrap .blog-next,
  .blog-slider-wrap .service-next,
  .blog-slider-wrap .blog-next {
    right: 5px;
  }
  .service-slider-wrap .service-prev,
  .service-slider-wrap .blog-prev,
  .blog-slider-wrap .service-prev,
  .blog-slider-wrap .blog-prev {
    left: 5px;
  }
  .blog-card.style1 .blog-info,
  .blog-card .blog-info {
    padding: 20px;
  }
  .blog-metainfo li {
    padding: 0 16px 0 20px;
  }
  .blog-metainfo li::after {
    right: 5px;
  }
  /*------Foooter CSS---*/
  .footer-widget-wrap .footer-widget:nth-child(1) {
    padding-right: 100px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .header-wrap .search-area {
    max-width: 937px !important;
  }
  .hero-wrap.style1 .hero-img-wrap .hero-chart-box-1 {
    position: absolute;
    top: -120px;
    padding: 15px 20px;
  }
  .hero-wrap.style1 .hero-img-wrap .hero-chart-box-1 img {
    max-width: 80px;
    display: block;
    margin: 0 auto;
  }
  .hero-wrap.style1 .hero-img-wrap .hero-client-box {
    top: -120px;
  }
  .hero-wrap.style1 .hero-img-wrap .hero-chart-box-2 {
    bottom: 50px;
    left: -150px;
    padding: 15px 15px;
  }
  .hero-wrap.style1 .hero-img-wrap .hero-chart-box-2 .hero-chart img {
    max-width: 70px;
  }
  .hero-wrap.style1 .hero-img-wrap .hero-chart-box-2 .hero-chart-info span {
    font-size: 22px;
  }
  .hero-wrap .hero-content h1 {
    font-size: 43px;
  }
  .hero-wrap .hero-content p {
    padding-right: 10px;
  }
  .hero-wrap.style1 .hero-content-wrap,
  .hero-wrap.style2 .hero-content-wrap {
    padding-left: calc((100% - 960px) / 2 + 15px);
  }
  .hero-wrap.style2 {
    padding-top: 150px;
    padding-bottom: 140px;
  }
  .hero-wrap.style2 .hero-content-wrap .hero-img {
    margin-bottom: -220px;
  }
  .about-wrap.style2 .about-content-wrap .about-content {
    padding-right: calc((100% - 960px) / 2 + 15px);
  }
  /*------Why Choose us CSS---*/
  .why-choose-wrap.style3 h2.transparent-text {
    font-size: 36px;
  }
  /*------About CSS---*/
  .about-wrap.style1 .about-img-wrap .about-img-one .about-img-text p,
  .about-wrap.style3 .about-img-wrap .about-img-one .about-img-text p,
  .about-wrap.style1 .about-img-wrap .about-img-two .about-img-text p,
  .about-wrap.style3 .about-img-wrap .about-img-two .about-img-text p {
    padding: 20px 20px;
    font-size: 25px;
    text-align: center;
    display: block;
  }
  .about-wrap.style2 .about-content-wrap .about-bg {
    width: 48%;
  }
  .about-wrap.style2 .about-content-wrap .about-content {
    width: 48%;
    margin-left: 2%;
  }
  /*------Blog CSS---*/
  .why-choose-wrap.style1 .wh-img-wrap .wh-img-one .wh-img-text p,
  .why-choose-wrap.style1 .wh-img-wrap .wh-img-two .wh-img-text p {
    display: block;
    font-size: 19px;
    text-align: center;
  }
  /*------Blog CSS---*/
  .service-slider-wrap .service-next,
  .blog-slider-wrap .blog-next {
    right: 10px;
  }
  .service-slider-wrap .service-prev,
  .blog-slider-wrap .blog-prev {
    left: 10px;
  }
  /*------Foooter CSS---*/
  .footer-widget-wrap .footer-widget:nth-child(1) {
    padding-right: 40px;
  }
  .footer-widget-wrap .footer-widget:nth-child(2),
  .footer-widget-wrap .footer-widget:nth-child(3) {
    width: 22%;
  }
  .footer-widget-wrap .footer-widget:nth-child(4) {
    width: 24%;
  }
  /*-------Contact CSS--------*/
  .contact-box {
    padding: 20px;
  }
  .contact-box .contact-icon {
    width: 65px;
    height: 65px;
  }
  .contact-box .contact-info {
    width: calc(100% - 80px);
  }
}

@media only screen and (max-width: 1199px) {
  .lg-center {
    text-align: center !important;
  }
  .lg-none {
    display: none !important;
  }
  .page-wrapper {
    overflow-x: hidden;
  }
  .content-wrapper {
    margin: 72px 0 0;
  }
  .sidebar {
    margin: 50px 0 0;
  }
  .sidebar.style2 {
    margin: 20px 0 0;
  }
  .section-para {
    margin-top: 10px;
  }
  /*-----Hero CSS-----*/
  .hero-wrap.style3 .hero-slider-item {
    padding-top: 130px;
    padding-bottom: 150px;
  }
  .hero-wrap.style3 .hero-slide-next {
    right: auto;
    left: calc(50% + 40px);
    top: auto;
    bottom: 50px;
  }
  .hero-wrap.style3 .hero-slide-prev {
    left: calc(50% - 40px);
    top: auto;
    bottom: 50px;
    -webkit-transform: transform(translateX(-50%));
            transform: transform(translateX(-50%));
  }
  .breadcrumb-wrap {
    padding: 100px 0 100px;
  }
  /*----Why Choose CSS-----*/
  .why-choose-wrap.style2 .wh-img {
    margin-top: 50px;
  }
  .why-choose-wrap.style2 .wh-img h2.transparent-text {
    bottom: 0;
  }
  /*------Service CSS------*/
  .service-card .service-info {
    width: 100%;
    left: 0;
  }
  .service-bg {
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 991px) {
  .page-wrapper {
    overflow-x: hidden !important;
  }
  .container-full-left {
    padding: 0 15px;
  }
  .md-none {
    display: none !important;
  }
  .smt-30 {
    margin-top: 30px !important;
  }
  .smt-20 {
    margin-top: 20px !important;
  }
  .smb-30 {
    margin-bottom: 30px !important;
  }
  .mt-60 {
    margin-top: 30px !important;
  }
  .md-center {
    text-align: center !important;
  }
  /*------Hero CSS---*/
  .hero-wrap.style1 {
    padding-top: 160px;
    padding-bottom: 80px;
  }
  .hero-wrap.style1 .hero-content-wrap .hero-content,
  .hero-wrap.style2 .hero-content-wrap .hero-content,
  .hero-wrap.style2 .hero-content-wrap .hero-img {
    width: 100%;
  }
  .hero-wrap.style1 .hero-content-wrap .hero-content {
    text-align: center;
  }
  .hero-wrap.style1 .hero-content-wrap .hero-img-wrap {
    width: 100%;
    margin: 0;
  }
  .hero-wrap.style1 .hero-img-wrap .hero-chart-box-2 {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .hero-wrap.style3 .hero-slider-item .hero-img .hero-slider-shape {
    -webkit-animation: none;
            animation: none;
  }
  .hero-wrap.style3 .hero-slider-item .hero-img {
    margin-top: 38px;
  }
  .hero-wrap.style3 .hero-slider-item .hero-img .hero-slider-img {
    padding: 10px;
  }
  /*------About CSS---*/
  .about-wrap.style3 .about-content {
    margin-top: 50px;
  }
  .about-wrap.style2 .about-content-wrap .about-bg {
    width: 100%;
  }
  .about-wrap.style2 .about-content-wrap .about-content {
    width: 100%;
    margin-left: 0;
  }
  .about-wrap.style2 .about-content-wrap::after {
    width: 100%;
  }
  /*------Feature CSS---*/
  .feature-card-wrap {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .feature-card-wrap .feature-card {
    border-radius: 0;
    border-right: none;
    border-bottom: 1px solid #eee;
  }
  .feature-card-wrap .feature-card:last-child {
    border: none;
  }
  .feature-card::after {
    border-radius: 0 100px 0 0;
  }
  /*-----Why Choose Section-----*/
  .about-wrap.style1 .about-content,
  .why-choose-wrap.style1 .wh-img-wrap {
    margin-top: 50px;
  }
  .why-choose-wrap.style3 .wh-img {
    margin-top: 50px;
    height: 480px;
  }
  h2.transparent-text {
    bottom: 0;
  }
  .service-desc .content-feature-list {
    margin-top: 25px;
  }
  .faq-img {
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 575px) {
  .xs-center {
    text-align: center;
  }
  .xs-none {
    display: none;
  }
  p {
    font-size: 14px;
    line-height: 26px;
  }
  .content-title h2,
  .section-title h2 {
    font-size: 26px;
  }
  .section-title span,
  .content-title span {
    font-size: 13px;
  }
  .header-wrap .search-area {
    width: calc(100% - 24px);
  }
  .hero-wrap.style1 {
    padding-top: 160px;
    padding-bottom: 50px;
  }
  .hero-wrap.style1 .hero-img-wrap .hero-img {
    margin: 0 auto 30px;
  }
  .hero-wrap.style1 .hero-content-wrap {
    padding-left: 15px;
    padding-right: 15px;
  }
  .hero-wrap .hero-content h1 {
    font-size: 30px;
  }
  .hero-wrap .hero-content p {
    font-size: 14px;
    line-height: 24px;
  }
  .hero-wrap .hero-content .hero-btn .btn {
    padding: 10px 34px;
    border-radius: 0;
  }
  .hero-wrap.style1 .hero-img-wrap .hero-chart-box-1,
  .hero-wrap.style1 .hero-img-wrap .hero-chart-box-2,
  .hero-wrap.style1 .hero-img-wrap .hero-client-box,
  .hero-wrap.style1 .hero-img-wrap .hero-client-box {
    position: relative;
    top: auto;
    bottom: auto;
    left: auto;
    right: auto;
    margin: 0 auto 15px;
    display: block;
    width: 100%;
    min-width: 100%;
  }
  .hero-wrap.style1 .hero-img-wrap .hero-chart-box-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .hero-wrap.style1 .hero-img-wrap .hero-chart-box-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .hero-wrap.style1 .hero-img-wrap .hero-chart-box-1 h5 {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    margin: 20px 0 0;
  }
  .hero-wrap.style1 .hero-img-wrap .hero-chart-box-2 {
    width: auto;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .hero-wrap.style1 .hero-img-wrap .hero-chart-box-2 .hero-chart {
    width: auto;
    text-align: center;
    margin-bottom: 20px;
  }
  .hero-wrap.style1 .hero-img-wrap .hero-chart-box-2 .hero-chart-info {
    width: auto;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    text-align: center;
  }
  /*------About CSS---*/
  .about-wrap.style3 .about-img-wrap .about-img-two {
    width: 65%;
  }
  .about-wrap.style3 .about-img-wrap .about-img-one .about-img {
    height: 435px;
  }
  /*------Blog CSS---*/
  .blog-card.style1 .blog-info,
  .blog-card .blog-info {
    padding: 18px 14px;
  }
  .blog-card.style1 .blog-metainfo li,
  .blog-metainfo li {
    padding: 0 10px 0 18px;
    font-size: 12px;
  }
  .blog-card.style1 .blog-metainfo li:last-child,
  .blog-metainfo li:last-child {
    padding-right: 0;
  }
  .blog-card.style1 .blog-metainfo li i,
  .blog-metainfo li i {
    font-size: 11px;
  }
  .blog-metainfo li::after {
    right: 3px;
  }
  .blog-card.style1 .blog-info .blog-title,
  .blog-card .blog-info .blog-title {
    font-size: 22px;
  }
  .post-title {
    font-size: 25px;
  }
  /*------Foooter CSS---*/
  .footer-widget-wrap .footer-widget:nth-child(1) {
    padding-right: 0;
  }
  .footer-widget-wrap .footer-widget:nth-child(1),
  .footer-widget-wrap .footer-widget:nth-child(2),
  .footer-widget-wrap .footer-widget:nth-child(3),
  .footer-widget-wrap .footer-widget:nth-child(4) {
    width: 100%;
  }
  .newsletter-box .newsletter-form .form-group {
    width: 100%;
  }
  .back-to-top {
    font-size: 12px;
    right: -37px;
  }
  .portfolio-desc h1,
  .service-desc h1 {
    font-size: 28px;
  }
  .portfolio-desc h2,
  .service-desc h2 {
    font-size: 24px;
  }
  .pricing-table .pricing-header h2 {
    font-size: 30px;
  }
  .pricing-table .pricing-features {
    margin: 20px 20px;
  }
  .pricing-table .pricing-features li {
    font-size: 14px;
  }
  .portfolio-tablist .nav-item {
    display: block;
    width: 100%;
    margin: 0 auto 15px;
  }
  .portfolio-tablist .nav-item:last-child {
    margin-bottom: 0;
  }
  .portfolio-tablist .nav-item .nav-link {
    width: 60%;
    margin: 0 auto;
    display: block;
  }
  .partner-item {
    padding: 0 10px;
  }
}
/*# sourceMappingURL=responsive.css.map */